{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "chrome": false,
    "google": false,
    "module": false,
    "require": false,
    "DEBUG": false,
    "process": false
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-debugger": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "quotes": [2, "single"]
  }
}